# ==========================
# Python
# ==========================
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Secrets
# ==========================
.secrets/

# ==========================
# dbt
# ==========================
dbt_packages/
target/
logs/

# ==========================
# Airflow
# ==========================
scti_airflow/logs/
scti_airflow/airflow.db

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db